$bg: #1F1F28;
$fg: #DCD7BA;
$accent: #7E9CD8;
$red: #cc241d;
$window-opacity: 0.9;
$window-border-radius: 10px 10px 10px 10px;
$window-margin: 12px 12px 12px 12px;
$window-padding: 10px 10px 10px 10px;
$window-dock-padding: 4px 4px 4px 4px;
$window-desktop-clock_padding: 4px 4px 4px 4px;
$window-border-width: 2px;
$window-border-color: $fg;
$window-shadow-offset: 0px 0px;
$window-shadow-blur: 0px;
$window-shadow-spread: 0px;
$window-shadow-color: $fg;
$window-shadow-opacity: 1;
$bar-separator: true;
$bar-border-radius: 10px 10px 10px 10px;
$bar-bg-color: $bg;
$bar-opacity: 0.9;
$bar-margin: 202px 2px 202px 16px;
$bar-padding: 3px 3px 3px 3px;
$bar-border-width: 2px;
$bar-border-color: $fg;
$bar-shadow-offset: 0px 0px;
$bar-shadow-blur: 0px;
$bar-shadow-spread: 0px;
$bar-shadow-color: $fg;
$bar-shadow-opacity: 0.9;
$bar-button-bg-color: $bg;
$bar-button-fg-color: $fg;
$bar-button-opacity: 0.9;
$bar-button-padding: 0px 4px 0px 4px;
$bar-button-border-radius: 10px 10px 10px 10px;
$bar-button-border-width: 0px;
$bar-button-border-color: $fg;
$bar-button-shadow-offset: 0px 0px;
$bar-button-shadow-blur: 0px;
$bar-button-shadow-spread: 0px;
$bar-button-shadow-color: $fg;
$bar-button-shadow-opacity: 0.9;