@use "sass:color";
@use "../variables.scss" as *;

.applauncher-container {
  font-size: 4rem;
  min-height: 400px;
  min-width: 450px;

  .background-entry {
    border-radius: $window-border-radius;
    box-shadow: 0 0 0 $window-border-width $window-border-color;
  }

  > overlay {
    margin: $window-padding;
    margin-bottom: 6px;
    entry {
      outline: none;
      padding: $window-padding;

      image {
        -gtk-icon-size: 1.5rem;
      }

      text {
        font-size: 1.2rem;
        placeholder {
          font-size: 1.2rem;
        }
      }
    }
  }

  .entry-overlay {
    box-shadow: 0 0 0 $window-border-width $fg;
    border-radius: $window-border-radius;
    scrolledwindow viewport picture {
      border-radius: $window-border-radius;
    }
  }

  > scrolledwindow viewport {
    padding: $window-padding;
    padding-top: $window-border-width;
    box {
      outline-width: $window-border-width;

      .not-found label {
        font-size: 1rem;
      }
    }
  }

  .app-button {
    -gtk-icon-size: 2rem;
    padding: 0.4rem 0.8rem;
    background-color: color.adjust($fg, $alpha: -0.9);
    image {
      margin-right: 6px;
    }

    &:active {
      > * {
        transform: none;
      }

      image {
        transform: scale(0.85);
      }
    }

    &:focus {
      outline-color: $accent;
    }
    &:hover {
      background-color: color.adjust($fg, $alpha: -0.75);
    }
    .description {
      font-size: 0.85rem;
      font-weight: 400;
    }
  }
}
