@use "sass:color";
@use "../variables.scss" as *;

.battery-container {
  padding: $window-padding;
  min-width: 300px;

  overlay {
    levelbar trough block {
      min-height: 45px;
      border-radius: $window-border-radius;
      background-color: color.adjust($fg, $alpha: -0.65);
      &.filled {
        background-color: $fg;
      }
    }

    label {
      color: $bg;
      font-size: 1.2rem;
      margin-left: 0.7rem;
    }
  }

  .power-profiles {
    button {
      padding: 0.2rem;
      background-color: color.adjust($fg, $alpha: -0.9);
      color: $fg;
      border-radius: $window-border-radius;

      &:hover {
        background-color: color.adjust($fg, $alpha: -0.65);
      }

      &.active {
        background-color: $fg;
        color: $bg;
      }
    }
  }
}
