@use "sass:color";
@use "../variables.scss" as *;

.verification-container {
  min-width: 250px;
  padding: $window-padding;

  .title {
    font-size: 1.2rem;
  }
  .body {
    font-weight: 400;
  }

  .buttons {
    button {
      background-color: color.adjust($fg, $alpha: -0.9);
      padding: 0.2rem;
      &:focus {
        outline-color: $fg;
      }
      &:hover {
        background-color: color.adjust($fg, $alpha: -0.65);
      }
    }

    button:last-child {
      color: $red;
    }
  }
}

.powermenu-container {
  padding: $window-padding;

  flowboxchild {
    outline: unset;
    padding: 0;

    &:selected {
      // outline: unset;
      box-shadow: 0 0 0 2px $window-border-color;
      background-color: transparent;
    }
  }

  .system-button {
    background-color: color.adjust($fg, $alpha: -0.9);
    padding: 0.7rem;
    border-radius: $window-border-radius;
    &:selected {
      background-color: red;
    }

    &:focus {
      outline-color: $fg;
    }
    &:hover {
      background-color: color.adjust($fg, $alpha: -0.65);
    }
  }
}
