@use "sass:color";
@use "../variables" as *;

.qs-container {
  min-width: 300px;

  button {
    outline-color: $fg;
  }

  .arrow-button {
    border-radius: $window-border-radius;
    background-color: color.adjust($fg, $alpha: -0.9);

    >* {
      padding: 0 4px;

      &:first-child {
        padding: $window-padding;
      }
    }

    &.active {
      background-color: $accent;
      color: $bg;
    }
  }

  flowbox flowboxchild {
    padding: 0;
    outline-color: $fg;

    &:selected {
      background-color: transparent;
    }
  }

  separator {
    margin: 0;
    // margin: 0.7rem 0;
    // margin-top: 0.2rem;
  }

  .streams,
  .header {
    label {
      font-size: 1.2rem;
    }

    button {
      padding: 0.3rem 0.5rem;
      border-radius: $window-border-radius;
      background-color: color.adjust($fg, $alpha: -0.9);

      label {
        font-size: 0.95rem;
      }

      &:hover {
        background-color: color.adjust($fg, $alpha: -0.65);
      }
    }

    .powermenu {
      &:hover {
        color: $red;
        background-color: color.adjust($fg, $alpha: -0.9);
      }
    }
  }

  .qs-box {
    image {
      padding: 0.5rem;
      border-radius: $window-border-radius;
      background-color: color.adjust($fg, $alpha: -0.9);
    }

    // margin-bottom: 0.7rem;
  }

  .qs-button {
    border-radius: $window-border-radius;
    background-color: color.adjust($fg, $alpha: -0.9);
    outline-color: $fg;

    button {
      padding: 1rem 0;
      background-color: transparent;
      outline-color: $fg;

      &:checked {
        color: $bg;
        border-radius: $window-border-radius;
        background-color: $accent;
      }
    }

    popover contents {
      border-radius: $window-border-radius;

      modelbutton {
        background-color: color.adjust($fg, $alpha: -0.9);

        &:first-child {
          margin-bottom: 0.3rem;
        }

        &:hover {
          background-color: color.adjust($fg, $alpha: -0.65);
        }
      }
    }

    &:hover {
      background-color: color.adjust($fg, $alpha: -0.65);
    }

    >* {
      padding: 0.5rem;
    }

    .status {
      font-weight: 400;
    }

    &.active {
      color: $bg;
      background-color: $accent;
    }
  }

  .qs-page {
    margin: $window-padding;

    .button {
      padding: 0.4rem 0.8rem;
      background-color: color.adjust($fg, $alpha: -0.9);
      border-radius: $window-border-radius;

      &:hover {
        background-color: color.adjust($fg, $alpha: -0.65);
      }

      &:active {
        >* {
          transform: none;
        }

        image {
          transform: scale(0.85);
        }
      }

      &.active {
        background-color: $accent;
        color: $bg;
      }

      image {
        margin-right: 10px;
      }
    }
  }

  .wifi-page {
    margin: 0;

    .header {
      margin: $window-padding;
      margin-bottom: 0;
    }

    separator {
      margin: $window-padding;
      margin-top: 0;
      margin-bottom: 0;
    }

    scrolledwindow viewport {
      padding: $window-padding;
      padding-top: 0;
    }
  }
}
