$theme: "dark";

//charm
$red: #f38ba8;
$green: #a6e3a1;
$yellow: #f9e2af;
$blue: #89b4fa;
$magenta: #cba6f7;
$teal: #94e2d5;
$orange: #fab387;
$sky: #89dceb;
$sapphire: #74c7ec;

$bg_color: #1e1e2e;
$fg_color: #cdd6f4;
$hover_fg: #bac2de;
$accent_fg: #1e1e2e;
$mantle: #181825;
