body.custom {
  --text-default: #c8c093;
  --text-secondary: #717c7c;
  --text-tertiary: #1f1f28;

  --background: #2c2c39;
  --background-darker: #262631;
  --background-lighter: #333342;
  --body-background: #2c2c39;
  --gradient-body-background: #2c2c39;
  --input-background: #333342;
  --controller-hints-background: transparent;
  --current-background: #2c2c39;
  --modal-background: #1f1f28;
  --modal-border: #76946a;
  --osk-background: #2c2c39;
  --osk-button-background: #333342;
  --osk-button-border: #1f1f28;
  --search-bar-background: #333342;
  --search-bar-border: #333342;

  --action-icon: #c8c093;
  --action-icon-hover: #3a3a4a;
  --action-icon-active: #76946a;
  --icons-background: #2c2c39;

  --brand-primary: #76946a;
  --brand-primary-hover: #3a3a4a;

  --primary-button: #76946a;
  --primary-button-overlay: #76946a;
  --secondary-button: #76946a;
  --secondary-button-overlay: #76946a;
  --tertiary-button: #76946a;
  --tertiary-button-overlay: #76946a;
  --success-button: #7e9cd8;
  --disabled-button: #262631;
  --disabled-button-overlay: #1f1f28;

  --navbar-active: #76946a;
  --navbar-inactive: #c8c093;
  --navbar-active-background: #333342;
  --navbar-accent: #76946a;
  --navbar-background: #262631;
  --divider: #262631;

  --success: #7e9cd8;
  --success-hover: #3a3a4a;
  --danger: #c0a36e;
  --danger-hover: #3a3a4a;

  --primary: #76946a;
  --secondary: #76946a;
  --accent: #76946a;

  --status-success: #7e9cd8;
  --status-warning: #c0a36e;
  --status-danger: #c34043;
  --status-info: #76946a;

  --neutral-01: #1f1f28;
  --neutral-02: #2c2c39;
  --neutral-03: #333342;
  --neutral-04: #3a3a4a;
  --neutral-05: #63635f;
  --neutral-06: #c8c093;
}

body.catppuccin-mocha-blue select,
body.catppuccin-mocha-blue input {
  box-shadow: none !important;
}
