@media (prefers-color-scheme: dark) {
	:root {
		--zen-colors-primary: {{colors.surface_container_high.default.hex}} !important;
		--zen-primary-color: {{colors.primary.default.hex}} !important;
		--zen-colors-secondary: {{colors.surface_container_high.default.hex}} !important;
		--zen-colors-tertiary: {{colors.surface_container_low.default.hex}} !important;
		--zen-colors-border: {{colors.primary.default.hex}} !important;
		--toolbarbutton-icon-fill: {{colors.primary.default.hex}} !important;
		--lwt-text-color: {{colors.on_surface.default.hex}} !important;
		--toolbar-field-color: {{colors.on_surface.default.hex}} !important;
		--tab-selected-textcolor:{{colors.primary.default.hex}} !important;
		--toolbar-field-focus-color: {{colors.on_surface.default.hex}} !important;
		--toolbar-color: {{colors.on_surface.default.hex}} !important;
		--newtab-text-primary-color: {{colors.on_surface.default.hex}} !important;
		--arrowpanel-color: {{colors.on_surface.default.hex}} !important;
		--arrowpanel-background: {{colors.surface_container.default.hex}} !important;
		--sidebar-text-color: {{colors.on_surface.default.hex}} !important;
		--lwt-sidebar-text-color: {{colors.on_surface.default.hex}} !important;
		--lwt-sidebar-background-color: {{colors.surface_container_lowest.default.hex}} !important;
		--toolbar-bgcolor: {{colors.surface_container_high.default.hex}} !important;
		--newtab-background-color: {{colors.surface_container.default.hex}} !important;
		--zen-themed-toolbar-bg: {{colors.surface_container_low.default.hex}} !important;
		--zen-main-browser-background: {{colors.surface_container_low.default.hex}} !important;
		--toolbox-bgcolor-inactive: {{colors.surface_container_low.default.hex}} !important;
	}

	#permissions-granted-icon {
		color: {{colors.surface_container_low.default.hex}} !important;
	}

	.sidebar-placesTree {
		background-color: {{colors.surface_container.default.hex}} !important;
	}

	#zen-workspaces-button {
		background-color: {{colors.surface_container.default.hex}} !important;
	}

	#TabsToolbar {
		background-color: {{colors.surface_container_low.default.hex}} !important;
	}

	.urlbar-background {
		background-color: {{colors.surface_container.default.hex}} !important;
	}

	.content-shortcuts {
		background-color: {{colors.surface_container.default.hex}} !important;
		border-color: {{colors.primary.default.hex}} !important;
	}

	.urlbarView-url {
		color: {{colors.primary.default.hex}} !important;
	}

	#zenEditBookmarkPanelFaviconContainer {
		background: {{colors.surface_container_lowest.default.hex}} !important;
	}

	#zen-media-controls-toolbar {
		& #zen-media-progress-bar {
			&::-moz-range-track {
				background: {{colors.surface_container_high.default.hex}} !important;
			}
		}
	}

	toolbar .toolbarbutton-1 {
		&:not([disabled]) {

			&:is([open], [checked])> :is(.toolbarbutton-icon,
				.toolbarbutton-text,
				.toolbarbutton-badge-stack) {
				fill: {{colors.surface_container_lowest.default.hex}};
			}
		}
	}

	hbox#titlebar {
		background-color: {{colors.surface_container_low.default.hex}} !important;
	}

	#zen-appcontent-navbar-container {
		background-color: {{colors.surface_container_low.default.hex}} !important;
	}
}
