@media (prefers-color-scheme: dark) {
	:root {
		--zen-colors-primary: #333342 !important;
		--zen-primary-color: #76946a !important;
		--zen-colors-secondary: #333342 !important;
		--zen-colors-tertiary: #262631 !important;
		--zen-colors-border: #76946a !important;
		--toolbarbutton-icon-fill: #76946a !important;
		--lwt-text-color: #c8c093 !important;
		--toolbar-field-color: #c8c093 !important;
		--tab-selected-textcolor:#76946a !important;
		--toolbar-field-focus-color: #c8c093 !important;
		--toolbar-color: #c8c093 !important;
		--newtab-text-primary-color: #c8c093 !important;
		--arrowpanel-color: #c8c093 !important;
		--arrowpanel-background: #2c2c39 !important;
		--sidebar-text-color: #c8c093 !important;
		--lwt-sidebar-text-color: #c8c093 !important;
		--lwt-sidebar-background-color: #1f1f28 !important;
		--toolbar-bgcolor: #333342 !important;
		--newtab-background-color: #2c2c39 !important;
		--zen-themed-toolbar-bg: #262631 !important;
		--zen-main-browser-background: #262631 !important;
		--toolbox-bgcolor-inactive: #262631 !important;
	}

	#permissions-granted-icon {
		color: #262631 !important;
	}

	.sidebar-placesTree {
		background-color: #2c2c39 !important;
	}

	#zen-workspaces-button {
		background-color: #2c2c39 !important;
	}

	#TabsToolbar {
		background-color: #262631 !important;
	}

	.urlbar-background {
		background-color: #2c2c39 !important;
	}

	.content-shortcuts {
		background-color: #2c2c39 !important;
		border-color: #76946a !important;
	}

	.urlbarView-url {
		color: #76946a !important;
	}

	#zenEditBookmarkPanelFaviconContainer {
		background: #1f1f28 !important;
	}

	#zen-media-controls-toolbar {
		& #zen-media-progress-bar {
			&::-moz-range-track {
				background: #333342 !important;
			}
		}
	}

	toolbar .toolbarbutton-1 {
		&:not([disabled]) {

			&:is([open], [checked])> :is(.toolbarbutton-icon,
				.toolbarbutton-text,
				.toolbarbutton-badge-stack) {
				fill: #1f1f28;
			}
		}
	}

	hbox#titlebar {
		background-color: #262631 !important;
	}

	#zen-appcontent-navbar-container {
		background-color: #262631 !important;
	}
}
