@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #c8c093 !important;
      --color-accent-primary: #76946a !important;
      --color-accent-primary-hover: #436038 !important;
      --color-accent-primary-active: #c0a36e !important;
      background-color: #2c2c39 !important;
      --in-content-page-background: #2c2c39 !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #2c2c39 !important;
      --newtab-background-color-secondary: #333342 !important;
      --newtab-element-hover-color: #333342 !important;
      --newtab-text-primary-color: #c8c093 !important;
      --newtab-wordmark-color: #c8c093 !important;
      --newtab-primary-action-background: #76946a !important;
    }

    .icon {
      color: #76946a !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo.svg"), url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Mocha/Green/zen-logo-mocha.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #76946a !important;
    }

    .top-site-outer .search-topsite {
      background-color: #c0a36e !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #76946a !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #262631 !important;
      --in-content-text-color: #c8c093 !important;
      --link-color: #76946a !important;
      --link-color-hover: #436038 !important;
      --zen-colors-primary: #333342 !important;
      --in-content-box-background: #333342 !important;
      --zen-primary-color: #76946a !important;
    }

    groupbox , moz-card{
      background: #2c2c39 !important;
    }

    button,
    groupbox menulist {
      background: #333342 !important;
      color: #c8c093 !important;
    }

    .main-content {
      background-color: #1f1f28 !important;
    }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #262631 !important;
      --background-color-box: #2c2c39 !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #2c2c39 !important;
      --in-content-primary-button-background-hover: #3a3a4a !important;
      --in-content-primary-button-text-color-hover: #c8c093 !important;
      --in-content-primary-button-background: #3a3a4a !important;
      --in-content-primary-button-text-color: #c8c093 !important;
    }


    .card {
      background-color: #333342 !important;
    }
  }
}
