/* Catppuccin Mocha Blue userContent.css*/

@media (prefers-color-scheme: dark) {

	/* Common variables affecting all pages */
	@-moz-document url-prefix("about:") {
		:root {
			/* {#replace_color(data.colors.base05)#} */
			--in-content-page-color: #dcd7ba !important;
			/* {#replace_color(data.colors.base0D)#} */
			--color-accent-primary: #7e9cd8 !important;
			/* {#replace_color(data.colors.base0C)#} */
			--color-accent-primary-hover: #6a9589 !important;
			/* {#replace_color(data.colors.base0D)#} */
			--color-accent-primary-active: #7e9cd8 !important;
			/* {#replace_color(data.colors.base00)#} */
			background-color: #1f1f28 !important;
			/* {#replace_color(data.colors.base00)#} */
			--in-content-page-background: #1f1f28 !important;
		}

	}

	/* Variables and styles specific to about:newtab and about:home */
	@-moz-document url("about:newtab"), url("about:home") {

		:root {
			/* {#replace_color(data.colors.base00)#} */
			--newtab-background-color: #1f1f28 !important;
			/* {#replace_color(data.colors.base02)#} */
			--newtab-background-color-secondary: #223249 !important;
			/* {#replace_color(data.colors.base02)#} */
			--newtab-element-hover-color: #223249 !important;
			/* {#replace_color(data.colors.base05)#} */
			--newtab-text-primary-color: #dcd7ba !important;
			/* {#replace_color(data.colors.base05)#} */
			--newtab-wordmark-color: #dcd7ba !important;
			/* {#replace_color(data.colors.base0D)#} */
			--newtab-primary-action-background: #7e9cd8 !important;
		}

		.icon {
			/* {#replace_color(data.colors.base0D)#} */
			color: #7e9cd8 !important;
		}

		.search-wrapper .logo-and-wordmark .logo {
			background: url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Mocha/Blue/zen-logo-mocha.svg") no-repeat center !important;
			display: inline-block !important;
			height: 82px !important;
			width: 82px !important;
			background-size: 82px !important;
		}

		@media (max-width: 609px) {
			.search-wrapper .logo-and-wordmark .logo {
				background-size: 64px !important;
				height: 64px !important;
				width: 64px !important;
			}
		}

		.card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
			/* {#replace_color(data.colors.base0D)#} */
			color: #7e9cd8 !important;
		}

		.top-site-outer .search-topsite {
			/* {#replace_color(data.colors.base0D)#} */
			background-color: #7e9cd8 !important;
		}

		.compact-cards .card-outer .card-context .card-context-icon.icon-download {
			/* {#replace_color(data.colors.base0B)#} */
			fill: #76946a !important;
		}
	}

	/* Variables and styles specific to about:preferences */
	@-moz-document url-prefix("about:preferences") {
		:root {
			/* {#replace_color(data.colors.base01)#} */
			--zen-colors-tertiary: #16161d !important;
			/* {#replace_color(data.colors.base05)#} */
			--in-content-text-color: #dcd7ba !important;
			/* {#replace_color(data.colors.base0D)#} */
			--link-color: #7e9cd8 !important;
			/* {#replace_color(data.colors.base0C)#} */
			--link-color-hover: #6a9589 !important;
			/* {#replace_color(data.colors.base02)#} */
			--zen-colors-primary: #223249 !important;
			/* {#replace_color(data.colors.base02)#} */
			--in-content-box-background: #223249 !important;
			/* {#replace_color(data.colors.base0D)#} */
			--zen-primary-color: #7e9cd8 !important;
		}

		groupbox,
		moz-card {
			/* {#replace_color(data.colors.base00)#} */
			background: #1f1f28 !important;
		}

		button,
		groupbox menulist {
			/* {#replace_color(data.colors.base02)#} */
			background: #223249 !important;
			/* {#replace_color(data.colors.base05)#} */
			color: #dcd7ba !important;
		}

		.main-content {
			/* {#replace_color(data.colors.base00)#} */
			background-color: #1f1f28 !important;
		}

		.identity-color-blue {
			/* {#replace_color(data.colors.base0D)#} */
			--identity-tab-color: #7e9cd8 !important;
			/* {#replace_color(data.colors.base0D)#} */
			--identity-icon-color: #7e9cd8 !important;
		}

		.identity-color-turquoise {
			/* {#replace_color(data.colors.base0C)#} */
			--identity-tab-color: #6a9589 !important;
			/* {#replace_color(data.colors.base0C)#} */
			--identity-icon-color: #6a9589 !important;
		}

		.identity-color-green {
			/* {#replace_color(data.colors.base0D)#} */
			--identity-tab-color: #7e9cd8 !important;
			/* {#replace_color(data.colors.base0D)#} */
			--identity-icon-color: #7e9cd8 !important;
		}

		.identity-color-yellow {
			/* {#replace_color(data.colors.base0A)#} */
			--identity-tab-color: #c0a36e !important;
			/* {#replace_color(data.colors.base0A)#} */
			--identity-icon-color: #c0a36e !important;
		}

		.identity-color-orange {
			/* {#replace_color(data.colors.base09)#} */
			--identity-tab-color: #ffa066 !important;
			/* {#replace_color(data.colors.base09)#} */
			--identity-icon-color: #ffa066 !important;
		}

		.identity-color-red {
			/* {#replace_color(data.colors.base08)#} */
			--identity-tab-color: #c34043 !important;
			/* {#replace_color(data.colors.base08)#} */
			--identity-icon-color: #c34043 !important;
		}

		.identity-color-pink {
			/* {#replace_color(data.colors.base0F)#} */
			--identity-tab-color: #d27e99 !important;
			/* {#replace_color(data.colors.base0F)#} */
			--identity-icon-color: #d27e99 !important;
		}

		.identity-color-purple {
			/* {#replace_color(data.colors.base0E)#} */
			--identity-tab-color: #957fb8 !important;
			/* {#replace_color(data.colors.base0E)#} */
			--identity-icon-color: #957fb8 !important;
		}
	}

	/* Variables and styles specific to about:addons */
	@-moz-document url-prefix("about:addons") {
		:root {
			/* {#replace_color(data.colors.base01)#} */
			--zen-dark-color-mix-base: #16161d !important;
			/* {#replace_color(data.colors.base00)#} */
			--background-color-box: #1f1f28 !important;
		}
	}

	/* Variables and styles specific to about:protections */
	@-moz-document url-prefix("about:protections") {
		:root {
			/* {#replace_color(data.colors.base00)#} */
			--zen-primary-color: #1f1f28 !important;
			/* {#replace_color(data.colors.base0E)#} */
			--social-color: #957fb8 !important;
			/* {#replace_color(data.colors.base0C)#} */
			--coockie-color: #6a9589 !important;
			/* {#replace_color(data.colors.base0A)#} */
			--fingerprinter-color: #c0a36e !important;
			/* {#replace_color(data.colors.base0F)#} */
			--cryptominer-color: #d27e99 !important;
			/* {#replace_color(data.colors.base0B)#} */
			--tracker-color: #76946a !important;
			/* {#replace_color(data.colors.base06)#} */
			--in-content-primary-button-background-hover: #c8c093 !important;
			/* {#replace_color(data.colors.base05)#} */
			--in-content-primary-button-text-color-hover: #dcd7ba !important;
			/* {#replace_color(data.colors.base03)#} */
			--in-content-primary-button-background: #54546d !important;
			/* {#replace_color(data.colors.base05)#} */
			--in-content-primary-button-text-color: #dcd7ba !important;
		}


		.card {
			/* {#replace_color(data.colors.base02)#} */
			background-color: #223249 !important;
		}
	}
}
